{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
            <li><a href="https://www.facebook.com/fabian.vejerano/" target="_blank"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
            <li><a href="https://www.instagram.com/favellsgamer/" target="_blank"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
            <li><a href="https://wa.link/3x1cz0" target="_blank"><img src="{% static 'images/wt.png' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="https://jamesgrangerdesign.co.uk/" target="_blank">Designer</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->